<!doctype html>
<html>

    <head>
        <title>Django API</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body> 
        <center>
            <div id="result">

                <div>
                    <b>Name : </b> <input type="text" name="name" id="name"/>
                </div>
                <br>
                <div>
                    <input type="button" value="Submit" id="btn_submit" />
                </div>
                
                <br>
                <div>
                    <b>User name : </b> <span id="username"></span>
                </div>
                <div>
                    <b>Email : </b><span id="email"></span>
                </div>
            </div>
        </center>

        <script type="text/javascript">

            $("#btn_submit").click(function(e){
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/api/user-detail",
                    data: {name: $("#name").val() },
                    success:function(result) {
                        $("#username").text(result['name']);
                        $("#email").text(result['email']);
                    },
                    error:function(result) {                        
                        alert(result['responseText']);
                    }
                });
            });
        </script>
    </body>

</html>